<% crosses.each do |cross| %>
	<h3 class="brother"><%= cross.greek_class %></h3>
	<h4 class="brother"><%= cross.semester %> <%= cross.year %></h4>
	<% cross.brothers.each do |brother| %>
		<p class="brother"><%= brother.scroll_number %> <%= brother.full_name %></p>
	<% end %>
<% end %>