<h1 class="box">Contact Us</h1>

<div class="box">
	<h2>Cabinet</h2>
	<table class="cabinet">



	
		<tr>
			<td><img class="avatar" src="images/no-profile.gif" alt="No Profile"></td>
			<td><img class="avatar" src="images/no-profile.gif" alt="No Profile"></td>
			<td><img class="avatar" src="images/no-profile.gif" alt="No Profile"></td>
		</tr>

		<tr>
			<th>Pledge Lord</th>
			<th>President</th>
			<th>Vice President</th>
		</tr>

		<tr>
			<td><%= find_pledge_lord.full_name %></td>
			<td><%= find_president.full_name %></td>
			<td><%= find_vice_president.full_name %></td>
		</tr>

				<tr>
			<td><img class="avatar" src="images/no-profile.gif" alt="No Profile"></td>
			<td><img class="avatar" src="images/no-profile.gif" alt="No Profile"></td>
			<td><img class="avatar" src="images/no-profile.gif" alt="No Profile"></td>
		</tr>

		<tr>
			<th>Publicity</th>
			<th>Fundraiser</th>
			<th>Philanthropy</th>
		</tr>

		<tr>
			<td><%= find_publicity.full_name %></td>
			<td><%= find_fundraiser.full_name %></td>
			<td><%= find_philanthropy.full_name %></td>
		</tr>

		<tr>
			<td><img class="avatar" src="images/no-profile.gif" alt="No Profile"></td>
			<td><img class="avatar" src="images/no-profile.gif" alt="No Profile"></td>
			<td><img class="avatar" src="images/no-profile.gif" alt="No Profile"></td>
		</tr>

		<tr>
			<th>Social Chair</th>
			<th>Treasurer</th>
			<th>Secretary</th>
		</tr>

		<tr>
			<td><%= find_social_chair.full_name %></td>
			<td><%= find_treasurer.full_name %></td>
			<td><%= find_secretary.full_name %></td>
		</tr>

		<tr>
			<td><img class="avatar" src="images/no-profile.gif" alt="No Profile"></td>
			<td><img class="avatar" src="images/no-profile.gif" alt="No Profile"></td>
			<td><img class="avatar" src="images/no-profile.gif" alt="No Profile"></td>
		</tr>

		<tr>
			<th>Brotherhood</th>
			<th>Academics</th>
			<th>Liason</th>
		</tr>

		<tr>
			<td><%= find_brotherhood.full_name %></td>
			<td><%= find_academics.full_name %></td>
			<td><%= find_liason.full_name %></td>
		</tr>

		<tr>
			<td><img class="avatar" src="images/no-profile.gif" alt="No Profile"></td>
			<td><img class="avatar" src="images/no-profile.gif" alt="No Profile"></td>
		</tr>

		<tr>
			<th>Chancellor</th>
			<th>Ritual</th>
		</tr>

		<tr>
			<td><%= find_chancellor.full_name %></td>
			<td><%= find_ritual.full_name %></td>
		</tr>
	</table>
</div>
	

<ul class="box">
	<li><a href="https://www.facebook.com/Zeta-Chi-Epsilon-Gamma-Chapter-San-Jose-State-University-446871372186163/">Facebook</a></li>
</ul>